body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 650px;
    margin: 0 auto;
    padding: 25px 50px;
    text-align: left;
    overflow: auto;
}

p {
    font-size: 1.07em;
    color: #4d4d4d;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 25px 0;
    text-align: justify;
}

h1 {
    float: left;
    font-size: 3em;
    margin: 23px 0 10px 0;
    font-weight: normal;
}

.hide h2 {
    display: none;
}

.heading > p {
    float: right;
    margin: 35px 0 0 0;
    text-align: right;
}

.heading-you {
    float: right;
    margin: 15px 0 0 0;
}

.heading-you > p {
    margin: 5px 0;
    text-align: right;
}

.heading-them > p {
    padding-left: 10px;
    border-left: 5px solid #ccc;
}

.divider {
    min-height: 24px;
    margin-top: 5px;
    margin-bottom: -5px;
    clear: left;
    position: relative;
} 

.divider:after {
    position: absolute;
    left: 0;
    top: 62.5%;
    height: 1px;
    background: #ccc;
    content: "";
    width: 100%;
    z-index: 0;
    display: block;
}

img {
    height: 80px;
}
