body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    overflow: auto;
    padding: 25px 50px;
    text-align: left;
    width: 760px;
}

ul {
    color: #595959;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0em;
    margin: 5px 0;
    padding-left: 0;
    list-style-type: none;
}

p {
    color: #595959;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0em;
    margin: 5px 0;
}

.heading > p {
    float: right;
    margin: 35px 0 0 0;
    text-align: right;
}

li {
    float: left;
    margin: 1px;
    width: 100%
}

li:before {
    content: "- ";
}

h1 {
    float: left;
    font-size: 3.0em;
    font-weight: normal;
    margin: 43px 0 0 0;
}

h2 {
    background: #fff;
    color: #4d4d4d;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    margin-top: 35px;
    padding-right: 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.hide h2 {
    display: none;
}

h3 {
    float: left;
    font-size: 1.32em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;
}

h4 {
    float: right;
    font-size: 1.0em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 19px;
}

.divider {
    clear: left;
    margin-bottom: -5px;
    position: relative;
}

.divider:after {
    background: #ccc;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 74%;
    width: 100%;
    z-index: 0;
}

/* Triple skills section */

.col {
    padding: 0;
}

.col h3 {
    float: none;
}

.left {
    border-right: 1px solid #ccc;
    float: left;
    width: 36%
}

.right {
    float: right;
    border-left: 1px solid #ccc;
    padding-left: 25px;
    width: 25%
}

.center {
    display: inline-block;
    padding-left: 25px;
}
